---
layout: default
title:  IronJacamar.org - Community
description: The IronJacamar Community
---

%h1 Community

%h2 Forums

%i Note, that these forums are temporary

%p

%a{:href=>"http://community.jboss.org/en/ironjacamar?view=all"}
  User forum
\- Use this forum for questions about using IronJacamar or developing your resource adapter

%p

%a{:href=>"http://community.jboss.org/en/ironjacamar/dev?view=all"}
  Developer forum
\- Use this forum for questions about developing the IronJacamar container

%h2 Twitter

%a{:href=>"http://twitter.com/ironjacamar" }
  %img{ :src=>"/images/twitter_32.png", :alt=>"IronJacamar"}
  \#IronJacamar

%h2 IRC

Freenode 

%a{:href=>"http://webchat.freenode.net/?channels=ironjacamar" }
  \#ironjacamar

%h2 Usages of IronJacamar

.usage
  %table
    %tr
      %td{:align=>"left", :valign=>"top"}
        %a{:href=>"http://www.wildfly.org/" }
          %img{ :src=>"http://www.jboss.org/dms/wildfly_splash/splash_wildflylogo_small.png", :alt=>"WildFly"}
      %td{:align=>"left", :valign=>"top"}
        %a{:href=>"http://www.wildfly.org/" } WildFly
        , a modern open source Java Enterprise Edition application server with focus on modularity
        and performance.
        %p
        IronJacamar provides the Java EE Connector Architecture container for WildFly, and controls
        the JCA, resource adapters and datasources subsystems.

%p

Share your IronJacamar story !
