---
layout: default
title:  IronJacamar.org - Community
description: The IronJacamar Community
---

%h1 Community

%h2 Forums

%a{:href=>"http://groups.google.com/group/ironjacamar-users"}
  User forum
\- Use this forum for questions about using IronJacamar or developing your resource adapter

%p

%a{:href=>"http://groups.google.com/group/ironjacamar-developers"}
  Developer forum
\- Use this forum for questions about developing the IronJacamar container

%p

Please, note that you have to be a member of these forums in order to post.

%h2 Interviews

%a{:href=>"/interviews/index.html" }
  Meet the people behind IronJacamar

%h2 Twitter

%a{:href=>"http://twitter.com/ironjacamar" }
  %img{ :src=>"/images/twitter_32.png", :alt=>"IronJacamar"}
  \#IronJacamar

%p

%a{:class=>"twitter-timeline", :href=>"https://twitter.com/IronJacamar", "data-widget-id"=>"350269431206785024"}
  Tweets by \@IronJacamar

%h2 IRC

Freenode 

%a{:href=>"http://webchat.freenode.net/?channels=ironjacamar" }
  \#ironjacamar

%h2 Usages of IronJacamar

.usage
  %table
    %tr
      %td{:align=>"left", :valign=>"top"}
        %a{:href=>"http://www.wildfly.org/" }
          %img{ :src=>"http://www.jboss.org/dms/wildfly_splash/splash_wildflylogo_small.png", :alt=>"WildFly"}
      %td{:align=>"left", :valign=>"top"}
        %a{:href=>"http://www.wildfly.org/" } WildFly
        , a modern open source Java Enterprise Edition application server with focus on modularity
        and performance.
        %p
        IronJacamar provides the Java EE Connector Architecture container for WildFly, and controls
        the JCA, resource adapters and datasources subsystems.

%p

Share your IronJacamar story !


:javascript
  !function(d,s,id) {
    var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
    if(!d.getElementById(id)){
      js=d.createElement(s);
      js.id=id;
      js.src=p+"://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js,fjs);
    }
  }
  (document,"script","twitter-wjs");
