---
layout: default
title:  IronJacamar.org - Downloads 
description: List of releases available for download 
---

%h1 Downloads

.download-table
  %table{:width=>"100%"}
    %thead
      %th Version
      %th Date
      %th Description
      %th License
      %th Size
      %th Format

    %tbody
      %tr
        %td 1.0.17.Final
        %td 2013-04-29
        %td Stable
        %td LGPL
        %td{:class=>"download-table-right"} 17 MB
        %td{:class=>"download-table"}
          %a{:href=>"http://sourceforge.net/projects/ironjacamar/files/1.0.17.Final/ironjacamar-1.0.17.Final.zip"} ZIP
      %tr
        %td
        %td 
        %td 
        %td  
        %td{:class=>"download-table-right"} 17 MB
        %td{:class=>"download-table"}  
          %a{:href=>"http://sourceforge.net/projects/ironjacamar/files/1.0.17.Final/ironjacamar-1.0.17.Final.tar.gz"} TGZ
      %tr
        %td 
        %td 
        %td Release Notes
        %td  
        %td
        %td
          %a{:href=>"http://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&version=12321469"} JIRA
      %tr
        %td 1.1.0.Beta5
        %td 2013-05-14
        %td Unstable
        %td LGPL
        %td{:class=>"download-table-right"} 23 MB
        %td{:class=>"download-table"}
          %a{:href=>"http://sourceforge.net/projects/ironjacamar/files/1.1.0.Beta5/ironjacamar-1.1.0.Beta5.zip"} ZIP
      %tr
        %td
        %td 
        %td 
        %td  
        %td{:class=>"download-table-right"} 23 MB
        %td{:class=>"download-table"}  
          %a{:href=>"http://sourceforge.net/projects/ironjacamar/files/1.1.0.Beta5/ironjacamar-1.1.0.Beta5.tar.gz"} TGZ
      %tr
        %td 
        %td 
        %td Release Notes
        %td  
        %td
        %td
          %a{:href=>"http://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&version=12321282"} JIRA

%p

You will find all of our releases on
%a{:href=>"http://sourceforge.net/projects/ironjacamar/files"} SourceForge.net


%h2 Maven

Maven repository:
%a{:href=>"http://repository.jboss.org/nexus/content/groups/public/"} http://repository.jboss.org/nexus/content/groups/public/

%p

Group Id: 
%a{:href=>"http://repository.jboss.org/nexus/content/groups/public/org/jboss/ironjacamar"} org.jboss.ironjacamar
