---
layout: default
---

%h1 Welcome to the IronJacamar community !

IronJacamar is an implementation of the
%a{:href=>"http://jcp.org/en/jsr/detail?id=322"} Java EE Connector Architecture 1.6
specification.

%p

Java EE Connector Architecture defines a contract for how so-called Enterprise Information Systems
integrate with the Java Enterprise Edition Platform. Enterprise Information Systems include
databases, messaging systems, and other servers/systems external to an application server.

%p

IronJacamar has been certified against both the Java EE Connector Architecture standalone profile,
and the full profile.

%p

See the
%a{:href=>"/about.html"} about
section for more information about Java EE Connector Architecture.

%h2 News

June 4th, 2013 -
%a{:href=>"/news/20130604-IronJacamarOrgLaunched.html"} IronJacamar.org launched
%br

%h2 Getting started

%ol
  %li
    Download
    %a{:href=>"/download.html"} IronJacamar
  %li 
    Read our
    %a{:href=>"#{site.base_url}/doc/userguide/1.1/en-US/html/ch01.html#overview"} overview
    in our
    %a{:href=>"/documentation.html"} user guide
  %li
    Check out our
    %a{:href=>"#{site.base_url}/doc/userguide/1.1/en-US/html/apb.html#sample_helloworld"} Hello World
    example
  %li
    Run our
    %a{:href=>"#{site.base_url}/doc/userguide/1.1/en-US/html/ch08.html"} code generator
    to generate a project skeleton
  %ul
    %li 
      Or use our
      %a{:href=>"#{site.base_url}/doc/userguide/1.1/en-US/html/ch09.html"} Eclipse
      development plugin
  %li
    Execute the generated
    %a{:href=>"http://www.arquillian.org"} Arquillian
    \/
    %a{:href=>"http://www.shrinkwrap.org"} ShrinkWrap
    test case

%p

And be sure, to read our user guide and the Java EE Connector Architecture 1.6 specification.

%p

You are most welcome to use our
%a{:href=>"/community.html"} community
for asking questions about how to best implement your resource adapter.
