---
layout: default
title:  IronJacamar.org - Issues
description: IronJacamar issue tracking
---

%h1 Issues

Before posting any feature requests or bug reports you should post your ideas/findings in our 
%a{:href=>"/community.html"} user forum.

%h2 JIRA

%a{:href=>"http://issues.jboss.org/browse/JBJCA"} issues.jboss.org/browse/JBJCA
