---
layout: default
title:  IronJacamar.org - Legacy releases
description: Old versions of IronJacamar
---

%h1 Legacy releases

This page contains the IronJacamar releases that are no longer supported in the community, since a newer stable version exists.

%p

So, if you are experiencing an issue be sure to test the latest available version before reporting any issues.

%h2 Downloads

.download-table
  %table{:width=>"100%"}
    %thead
      %th Version
      %th Date
      %th Description
      %th License
      %th Size
      %th Format

    %tbody
      %tr
        %td 1.1.8.Final
        %td 2014-09-16
        %td Stable
        %td LGPL
        %td{:class=>"download-table-right"} 23 MB
        %td{:class=>"download-table"}
          %a{:href=>"http://sourceforge.net/projects/ironjacamar/files/1.1.8.Final/ironjacamar-1.1.8.Final.zip"} ZIP
      %tr
        %td
        %td 
        %td 
        %td  
        %td{:class=>"download-table-right"} 23 MB
        %td{:class=>"download-table"}  
          %a{:href=>"http://sourceforge.net/projects/ironjacamar/files/1.1.8.Final/ironjacamar-1.1.8.Final.tar.gz"} TGZ
      %tr
        %td 
        %td 
        %td Release Notes
        %td  
        %td
        %td
          %a{:href=>"https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&version=12325447"} JIRA
      %tr
        %td 1.0.19.Final
        %td 2013-07-10
        %td Stable
        %td LGPL
        %td{:class=>"download-table-right"} 17 MB
        %td{:class=>"download-table"}
          %a{:href=>"http://sourceforge.net/projects/ironjacamar/files/1.0.19.Final/ironjacamar-1.0.19.Final.zip"} ZIP
      %tr
        %td
        %td 
        %td 
        %td  
        %td{:class=>"download-table-right"} 17 MB
        %td{:class=>"download-table"}  
          %a{:href=>"http://sourceforge.net/projects/ironjacamar/files/1.0.19.Final/ironjacamar-1.0.19.Final.tar.gz"} TGZ
      %tr
        %td 
        %td 
        %td Release Notes
        %td  
        %td
        %td
          %a{:href=>"http://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&version=12321694"} JIRA

%p

You will find all of our releases on
%a{:href=>"http://sourceforge.net/projects/ironjacamar/files"} SourceForge.net


%h3 Maven

Maven repository:
%a{:href=>"http://repository.jboss.org/nexus/content/groups/public/"} http://repository.jboss.org/nexus/content/groups/public/

%p

Group Id: 
%a{:href=>"http://repository.jboss.org/nexus/content/groups/public/org/jboss/ironjacamar"} org.jboss.ironjacamar

%h2 Documentation

The documentation for IronJacamar is located inside the distribution in the doc/ directory.

%p

This will provide you with a start point for using the container.


%h3 User guide

%ul
  %li
    1.1
    %a{:href=>"http://www.ironjacamar.org/doc/userguide/1.1/en-US/html/index.html"} [HTML]
    %a{:href=>"http://www.ironjacamar.org/doc/userguide/1.1/en-US/html_single/index.html"} [HTML Single]
    %a{:href=>"http://www.ironjacamar.org/doc/userguide/1.1/en-US/pdf/IronJacamarUserGuide.pdf"} [PDF]
  %li
    1.0
    %a{:href=>"http://www.ironjacamar.org/doc/userguide/1.0/en-US/html/index.html"} [HTML]
    %a{:href=>"http://www.ironjacamar.org/doc/userguide/1.0/en-US/html_single/index.html"} [HTML Single]
    %a{:href=>"http://www.ironjacamar.org/doc/userguide/1.0/en-US/pdf/IronJacamarUserGuide.pdf"} [PDF]

%h3 Developer guide

%ul
  %li
    1.1
    %a{:href=>"http://www.ironjacamar.org/doc/developerguide/1.1/en-US/html/index.html"} [HTML]
    %a{:href=>"http://www.ironjacamar.org/doc/developerguide/1.1/en-US/html_single/index.html"} [HTML Single]
    %a{:href=>"http://www.ironjacamar.org/doc/developerguide/1.1/en-US/pdf/IronJacamarDeveloperGuide.pdf"} [PDF]
  %li
    1.0
    %a{:href=>"http://www.ironjacamar.org/doc/developerguide/1.0/en-US/html/index.html"} [HTML]
    %a{:href=>"http://www.ironjacamar.org/doc/developerguide/1.0/en-US/html_single/index.html"} [HTML Single]
    %a{:href=>"http://www.ironjacamar.org/doc/developerguide/1.0/en-US/pdf/IronJacamarDeveloperGuide.pdf"} [PDF]
