---
layout: default
title:  IronJacamar.org - Source code
description: The IronJacamar source code
---

%h1 Source Code

%a{:href=>"http://www.github.com/ironjacamar"}
  %img{ :src=>"/images/github_32.png", :alt=>"GitHub"}

%p

The IronJacamar project is hosted on
%a{:href=>"http://www.github.com/"} GitHub
under the
%a{:href=>"http://www.github.com/ironjacamar"} IronJacamar
organization.

%p

Our code is hosted in the
%a{:href=>"http://www.github.com/ironjacamar/ironjacamar"} IronJacamar
repository.

%p

The code for this web site is hosted in the
%a{:href=>"http://www.github.com/ironjacamar/ironjacamar.org"} IronJacamar.org
repository.

%h2 License

IronJacamar 2.x is licensed under 
%a{:href=>"http://www.eclipse.org/legal/epl-v10.html"} Eclipse Public License v1.0

%p

IronJacamar 1.x is licensed under
%a{:href=>"http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html"} GNU Lesser Public License 2.1

%h2 Building

%h3 IronJacamar 2.x

IronJacamar 2.x will use 
%a{:href=>"http://www.gradle.org"} Gradle

%h3 IronJacamar 1.x

IronJacamar 1.x uses 
%a{:href=>"http://ant.apache.org"} Apache Ant
and
%a{:href=>"http://ant.apache.org/ivy"} Apache Ivy
for its build environment. Consult the 
%a{:href=>"/documentation.html"} developer guide
for more information.

%p

Standard:
.code
  ant clean sjc

%p

Release:
.code
  ant -Declipse.home=/path/to/eclipse clean release

%h2 Running

.code
  cd ironjacamar-VERSION/bin
  %br
  \./run.sh

%h2 Jenkins

%a{:href=>"http://ironjacamar.ci.cloudbees.com/"}
  %img{ :src=>"http://www.cloudbees.com/sites/default/files/Button-Built-on-CB-1.png", :alt=>"CloudBees"}


