---
layout: default
title: IronJacamar at JavaOne
description: Java EE Connector Architecture BOF at JavaOne
---

%h1 IronJacamar at JavaOne

%strong
  %i September 18th, 2013

%p

I'll be at
%a{:href=>"http://www.oracle.com/javaone/index.html"}
  JavaOne
where I'll co-present a session about Java EE Connector Architecture with the other members of the
expert group.

%p

We will go over the latest changes in Java EE Connector Architecture 1.7, included in Java EE 7,
but more importantly open the floor for a discussion about where the specification should be
heading in future Java Enterprise Edition updates.

%p

Java EE Connector Architecture is developed under the
%a{:href=>"http://www.jcp.org/"}
  Java Community Process
, so your voice matters, either as feedback or as an active member of the group.

%p

So you should definitely attend this session if you are interested how the future of integrating
Enterprise Information Systems into the Java EE platform should look, or if you are interested in
learning more about Java EE Connector Architecture in general.

%p

The session details:

%hr
%quote
  %b
    %i
      What’s Next for the Java EE Connector Architecture [BOF7904]
  %p
  The Connector architecture is a key standard on the Java EE platform for enterprise application
  integration. It provides the ability for an application to work with disparate enterprise
  information systems (EISs) such as messaging middleware and transaction monitors.
  %p
  This session details the new features added to the Connectors specification in the Java EE 7
  specification and discusses potential enhancements to the standard in a future version.
  %p
  Come and share your views on how the standard must evolve. This discussion is led by the specification
  lead and the expert group members of the Connector specification.
  %p
  %b
    %i  
      Location:
  %br
  Parc 55 - Mission
  %p
  %b
    %i  
      Time:
  %br
  Tuesday, Sep 24, 5:30 - 6:15 PM
%hr

I hope to see you all there, and remember that there is the Red Hat party after the session, so be sure to stop by the
booth to pick up your ticket !

%p

For Those About to Rock, We Salute You !
%br
%i &nbsp;&nbsp;&nbsp; Jesper
