---
layout: news
title: IronJacamar 1.1.0.CR1 released
description: 2013-07-09 IronJacamar 1.1.0.CR1 released
---

%h1 IronJacamar 1.1.0.CR1 released

%strong
  %i July 9th, 2013

%p

I'm happy to announce the first candidate for release of IronJacamar 1.1, aka IronJacamar 1.1.0.CR1.

%p

Full release notes are 
%a{:href=>"http://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&version=12314491"}
  here 
\.

%h2 Java EE Connector Architecture 1.7

The main focus for this release was to continue the alignment with EE 7 related dependencies in
order to prepare for Java EE Connector Architecture 1.7 certification.

%p

Furthermore, to squash as many bugs as possible - found a couple of big ones, especially
%a{:href=>"http://issues.jboss.org/browse/JBJCA-1053"}
  one 
needed the heavy guns.

%h2 Tools

Our
%a{:href=>"http://www.ironjacamar.org/doc/userguide/1.1/en-US/html/ch10.html#tools_rarinfo"}
  resource adapter information
tool saw some updates to support the new features of the IronJacamar 1.1 container.

%p

The
%a{:href=>"http://www.ironjacamar.org/doc/userguide/1.1/en-US/html/ch08.html"}
  code generator
also saw updates to improve the generated code templates by adding input validation.

%h2 The Road Ahead

We now consider IronJacamar 1.1 stable for integration, so help with testing it out on your
deployments, and configuration.

%p

We will submit a patch for
%a{:href=>"http://www.wildfly.org/"}
  WildFly
shortly, such that the Java EE community can benefit from all the new IronJacamar 1.1 features.

%p

Since we are now in Candidate for Release stage we have deprecated our IronJacamar 1.0 release line,
so expect that 1.0.18.Final will be the last binary released. IronJacamar 1.1 is much better anyway :)

%p

For Those About to Rock, We Salute You !

%p

\[
%a{:href=>"http://www.ironjacamar.org/"}
  WebSite
\]

\[
%a{:href=>"http://www.ironjacamar.org/download.html"}
  Download
\]

\[
%a{:href=>"http://www.ironjacamar.org/documentation.html"}
  Documentation
\]

\[
%a{:href=>"http://issues.jboss.org/browse/JBJCA"}
  JIRA
\]
