---
layout: default
title:  IronJacamar.org - IronJacamar.org launched
description: 2013-06-04 IronJacamar.org launched
---

%h1 IronJacamar.org launched

%strong
  %i June 4th, 2013

%p

Today the 
%a{:href=>"http://www.ironjacamar.org/"}
  IronJacamar.org
community site was launched.

%p

The new site will provide the IronJacamar community with a place to interact, discuss
%a{:href=>"http://jcp.org/en/jsr/detail?id=322"}
  Java EE Connector Architecture
and the IronJacamar implementation.

%p

Our 
%a{:href=>"/sourcecode.html"}
  source code
is now hosted on
%a{:href=>"http://www.github.com/ironjacamar/"}
  GitHub
which we hope will foster community contributions to the project, and help make IronJacamar the best
platform for developing and hosting resource adapters.

%p

We have many improvements for the site planned, which we will roll out over the coming months.
However, that shouldn't stop anybody from joining our community and helping out. We welcome contributions
in all areas; 
%a{:href=>"http://www.github.com/ironjacamar/ironjacamar"}
  code
,
%a{:href=>"http://www.ironjacamar.org/doc/userguide/1.1/en-US/html/apb.html"}
  examples
,
%a{:href=>"/documentation.html"}
  documentation
,
%a{:href=>"http://www.github.com/ironjacamar/ironjacamar.org"}
  web design
and
%a{:href=>"/community.html"}
  helping other users
\.

%p

We know that Java EE Connector Architecture is one of the more complex Java EE platform specifications, but
it is our goal to make the technology more accessible for developers such that integrating external systems
becomes easier. We have ideas on how this can be achieved through new programming models and tooling. More on this
in a future post.

%p

We look forward to welcoming you to our community !

%p

On behalf of the IronJacamar community,
%br
%i &nbsp;&nbsp;&nbsp; Jesper
