---
layout: default
title: Meet Jeff
description: Meet core developer Jeff Zhang
---

%h1 Meet Jeff

%strong
  %i September 10th, 2013

%p

An
%a{:href=>"/interviews/jeff.html"}
  interview
with core developer Jeff Zhang have been posted in our
%a{:href=>"/interviews/index.html"}
  interviews
section.
