---
layout: default
title: Meet Lin
description: Meet core developer Lin Gao
---

%h1 Meet Lin

%strong
  %i December 11th, 2013

%p

An
%a{:href=>"/interviews/lin.html"}
  interview
with core developer Lin Gao have been posted in our
%a{:href=>"/interviews/index.html"}
  interviews
section.
