---
layout: default
title: Meet Vladimir
description: Meet core developer Vladimir Rastseluev
---

%h1 Meet Vladimir

%strong
  %i November 20th, 2013

%p

An
%a{:href=>"/interviews/vladimir.html"}
  interview
with core developer Vladimir Rastseluev have been posted in our
%a{:href=>"/interviews/index.html"}
  interviews
section.
