---
layout: default
title: Meet Stefano
description: Meet core developer Stefano Maestri
---

%h1 Meet Stefano

%strong
  %i July 16th, 2013

%p

An
%a{:href=>"/interviews/stefano.html"}
  interview
with core developer Stefano Maestri have been posted in our
%a{:href=>"/interviews/index.html"}
  interviews
section.
