---
layout: comments
title: IronJacamar 1.1.0.CR2 released
description: 2013-07-23 IronJacamar 1.1.0.CR2 released
---

%h1 IronJacamar 1.1.0.CR2 released

%strong
  %i July 23th, 2013

%p

I'm happy to announce the second, and hopefully final, candidate for release of IronJacamar 1.1, aka IronJacamar 1.1.0.CR2.

%p

Full release notes are 
%a{:href=>"http://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&version=12322145"}
  here 
\.

%h2 Bug fixes

This release focused on fixing bugs found during our WildFly integration for the upcoming pull request.

%p

We added a new feature however, namely a way to clear the statistics for WorkManager instances to align with the statistics plugins for datasources and resource adapter connection factories.

%h2 The Road Ahead

We are hoping that we can release 1.1.0.Final in 2 weeks unless something else major is found, so any help with testing this release would be great.

%p

For Those About to Rock, We Salute You !

%p

\[
%a{:href=>"http://www.ironjacamar.org/"}
  WebSite
\]

\[
%a{:href=>"http://www.ironjacamar.org/download.html"}
  Download
\]

\[
%a{:href=>"http://www.ironjacamar.org/documentation.html"}
  Documentation
\]

\[
%a{:href=>"http://issues.jboss.org/browse/JBJCA"}
  JIRA
\]
