---
layout: comments
title: IronJacamar 1.1.2.Final released
description: 2013-11-27 IronJacamar 1.1.2.Final released
---

%h1 IronJacamar 1.1.2.Final released

%strong
  %i November 27th, 2013

%p

I'm proud to announce the IronJacamar 1.1.2.Final release. Full release notes are
%a{:href=>"http://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&version=12323133"}
  here
\.

%p

This release is a bug fix release, which fixes some critical issues.

%p

So everybody should upgrade to this release in order to get these fixes.

%p

Feedback on the release is as always most welcome ! Enjoy !

%p

On behalf of the IronJacamar community,
%br
%i &nbsp;&nbsp;&nbsp; Jesper

%p

\[
%a{:href=>"http://www.ironjacamar.org/"}
  WebSite
\]

\[
%a{:href=>"http://www.ironjacamar.org/download.html"}
  Download
\]

\[
%a{:href=>"http://www.ironjacamar.org/documentation.html"}
  Documentation
\]

\[
%a{:href=>"http://issues.jboss.org/browse/JBJCA"}
  JIRA
\]
