---
layout: comments
title: IronJacamar 1.2.0.Beta3 released
description: 2014-06-24 IronJacamar 1.2.0.Beta3 released
---

%h1 IronJacamar 1.2.0.Beta3 released

%strong
  %i June 24th, 2014

%p

I'm proud to announce the IronJacamar 1.2.0.Beta3 release. Full release notes are
%a{:href=>"https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&version=12324889"}
  here
\.

%h2 Changes

The third Beta release features one new feature (
%a{:href=>"https://issues.jboss.org/browse/JBJCA-1185"}
  [JBJCA-1185]
) which enables validation of resource adapters when a connection is obtained.

%p

Most of the time spent during this cycle involved changing our entire metadata layer in order to
make new features easier to add, and to greatly simplify the code.


%h2 The Road Ahead

We will have yet another Beta, as there are still some areas to explore. And, we need to make sure that the metadata
changes doesn't cause regressions for projects using IronJacamar.

%p

Feedback on the release is as always most welcome ! Enjoy !

%p

On behalf of the IronJacamar community,
%br
%i &nbsp;&nbsp;&nbsp; Jesper

%p

\[
%a{:href=>"http://www.ironjacamar.org/"}
  WebSite
\]

\[
%a{:href=>"http://www.ironjacamar.org/download.html"}
  Download
\]

\[
%a{:href=>"http://www.ironjacamar.org/documentation.html"}
  Documentation
\]

\[
%a{:href=>"http://issues.jboss.org/browse/JBJCA"}
  JIRA
\]
