---
layout: default
title: Meet Jesper
description: Meet project lead Jesper Pedersen
---

%h1 Meet Jesper

%strong
  %i March 26th, 2014

%p

An
%a{:href=>"/interviews/jesper.html"}
  interview
with project lead Jesper Pedersen have been posted in our
%a{:href=>"/interviews/index.html"}
  interviews
section.
