---
layout: comments
title: IronJacamar 1.1.3.Final released
description: 2014-01-10 IronJacamar 1.1.3.Final released
---

%h1 IronJacamar 1.1.3.Final released

%strong
  %i January 10th, 2014

%p

I'm proud to announce the IronJacamar 1.1.3.Final release. Full release notes are
%a{:href=>"https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&version=12323803"}
  here
\.

%p

This release is a bug fix release, with some performance updates as well.

%p

Feedback on the release is as always most welcome ! Enjoy !

%p

On behalf of the IronJacamar community,
%br
%i &nbsp;&nbsp;&nbsp; Jesper

%p

\[
%a{:href=>"http://www.ironjacamar.org/"}
  WebSite
\]

\[
%a{:href=>"http://www.ironjacamar.org/download.html"}
  Download
\]

\[
%a{:href=>"http://www.ironjacamar.org/documentation.html"}
  Documentation
\]

\[
%a{:href=>"http://issues.jboss.org/browse/JBJCA"}
  JIRA
\]
