---
layout: comments
title: Articles Conversational Inflow
description: 2014-07-15 Articles Conversational Inflow
---

%h1 Articles: Conversational inflow

%strong
  %i July 15th, 2014

%p

I have posted an article about conversational inflow that I plan to submit to the next Java EE Connector Architecture
specification for discussion.

%p

This article discuss how conversational interactions between the Enterprise Information System and the application
server could happen through a resource adapter.

%p

You can find the article
%a{:href=>"/doc/conversationalinflow.html"}
  here
\.

%p

Feel free to join the discussion at

%a{:href=>"https://groups.google.com/forum/#!topic/ironjacamar-users/bkjLI9SQ6Yw"}
  IronJacamar Users Forum

such that we can consider all use-cases before taking it to the Java Community Process.

%p
Looking forward to your feedback !
%br
%i &nbsp;&nbsp;&nbsp; Jesper
