---
layout: comments
title: IronJacamar 1.2.0.Beta1 released
description: 2014-04-10 IronJacamar 1.2.0.Beta1 released
---

%h1 IronJacamar 1.2.0.Beta1 released

%strong
  %i April 10th, 2014

%p

I'm proud to announce the IronJacamar 1.2.0.Beta1 release. Full release notes are
%a{:href=>"https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&version=12323837"}
  here
\.

%h2 IronJacamar 1.2

We have decided to do a 1.2 series with some new features, as the IronJacamar 2.0 work has been stalled for
a while.

%p

We will try and limit the scope of the release to what will "fit" into the architecture of the 1.x series,
so expect that IronJacamar 1.2.0.Final will be a "super-set" of the 1.1.x releases in regards to configuration
and features.

%p

We are therefore hoping for a quick release cycle such that the IronJacamar 2.0 work can continue.

%h2 Lets get started

The first Beta release features some new features, like

%p

%ul
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1134"} [JBJCA-1134]
    Add method to dump queued threads
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1135"} [JBJCA-1135]
    Synchronize shutdown
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1141"} [JBJCA-1141]
    Allow &#39;connectable&#39; to be configured per deployment
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1163"} [JBJCA-1163]
    Support TxConnectionListener tracking

%p

and bug fixes as well. We will expand on certain features in upcoming articles to give a more in-depth description.

%p

There are new deployment descriptors to enable/disable some of these new features.


%h2 The Road Ahead

As stated above, we will try and do a quick release cycle, but there will likely be a couple of Beta's before
we do a feature freeze.

%p

So, if you have an idea of what is missing be sure to stop by our forums or the IRC channel to discuss it.

%p

Feedback on the release is as always most welcome ! Enjoy !

%p

On behalf of the IronJacamar community,
%br
%i &nbsp;&nbsp;&nbsp; Jesper

%p

\[
%a{:href=>"http://www.ironjacamar.org/"}
  WebSite
\]

\[
%a{:href=>"http://www.ironjacamar.org/download.html"}
  Download
\]

\[
%a{:href=>"http://www.ironjacamar.org/documentation.html"}
  Documentation
\]

\[
%a{:href=>"http://issues.jboss.org/browse/JBJCA"}
  JIRA
\]
