---
layout: comments
title: IronJacamar 1.1.4.Final released
description: 2014-03-13 IronJacamar 1.1.4.Final released
---

%h1 IronJacamar 1.1.4.Final released

%strong
  %i March 13th, 2014

%p

I'm proud to announce the IronJacamar 1.1.4.Final release. Full release notes are
%a{:href=>"https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&version=12323928"}
  here
\.

%p

This release is a bug fix release, especially 
%a{:href=>"http://issues.jboss.org/browse/JBJCA-1147"}
  JBJCA-1147
is important, with some developer guide updates as well.

%p

Feedback on the release is as always most welcome ! Enjoy !

%p

On behalf of the IronJacamar community,
%br
%i &nbsp;&nbsp;&nbsp; Jesper

%p

\[
%a{:href=>"http://www.ironjacamar.org/"}
  WebSite
\]

\[
%a{:href=>"http://www.ironjacamar.org/download.html"}
  Download
\]

\[
%a{:href=>"http://www.ironjacamar.org/documentation.html"}
  Documentation
\]

\[
%a{:href=>"http://issues.jboss.org/browse/JBJCA"}
  JIRA
\]
