---
layout: comments
title: IronJacamar 1.2.1.Final released
description: 2014-12-09 IronJacamar 1.2.1.Final released
---

%h1 IronJacamar 1.2.1.Final released

%strong
  %i December 9th, 2014

%p

I'm proud to announce the IronJacamar 1.2.1.Final release. Full release notes are
%a{:href=>"https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&version=12325984"}
  here
\.

%h2 Changes

This release is mainly a bug fix release, but some changes were made as well,

%p

%ul
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1231"} [JBJCA-1231]
    Allow existing connection to be obtained during MARKED_FOR_ROLLBACK
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1233"} [JBJCA-1233]
    Make pool lock across all credentials

%p

Once a transaction is marked for rollback, f.ex. through
%i setRollbackOnly()
, any future work involving connections to Enterprise Information System will be rollbacked (well, du'h) and the work "wasted".
However, previously this would result in an exception when trying to obtain a connection, which meant that applications
would have to do a more "defensive" style of coding. This change will allow to keep using an existing connection, and hence
applications has an easier job to guard against these scenarios, as the transaction status doesn't have to checked all the time.
The end result is of course the same. The old behavior can be activated by a system property (
%i ironjacamar.allow_marked_for_rollback_fast_fail
).

%p

Previously our &lt;
%i max-pool-size
&gt; was per credential, e.g. you could obtain up to &lt;
%i max-pool-size
&gt; connections per credential used.
This could make it difficult to calculate how many connections were needed against the Enterprise Information System when using configuration
elements like &lt;
%i allow-multiple-users/
&gt; or &lt;
%i application/
&gt;. The &lt;
%i max-pool-size
&gt; element is now across all credentials used
to make it simpler to configure, and to understand.

%h2 The Road Ahead

We should soon see new code coming into our master branch, which is where our IronJacamar 2.0 development is happening. Keep an eye on the repository as well as the forums for updates, and
provide your feedback.

%p

Enjoy !

%p

On behalf of the IronJacamar community,
%br
%i &nbsp;&nbsp;&nbsp; Jesper

%p

\[
%a{:href=>"http://www.ironjacamar.org/"}
  WebSite
\]

\[
%a{:href=>"http://www.ironjacamar.org/download.html"}
  Download
\]

\[
%a{:href=>"http://www.ironjacamar.org/documentation.html"}
  Documentation
\]

\[
%a{:href=>"http://issues.jboss.org/browse/JBJCA"}
  JIRA
\]
