---
layout: comments
title: IronJacamar 1.2.0.CR1 released
description: 2014-09-30 IronJacamar 1.2.0.CR1 released
---

%h1 IronJacamar 1.2.0.CR1 released

%strong
  %i September 30th, 2014

%p

I'm proud to announce the IronJacamar 1.2.0.CR1 release. Full release notes are
%a{:href=>"https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&version=12324492"}
  here
\.

%h2 Candidate for Release

Reaching Candidate for Release is an important milestone for the IronJacamar community. The journey towards our
1.2 release has been longer than expected, but saw quite a number of new features that hopefully will
serve the Java EE Connector Architecture community in their work.

%p

The feedback we have received has really benefitted the release, so a huge thanks for that ! Of course
our forums are open for additional feedback, so feel free to speak up on any issues you may find, or just
getting help on your JCA development tasks.

%h2 Changes

This release was relative quiet, as we went through the existing functionality to look for missing parts.
There were a couple of new features that stands out,

%p

%ul
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1208"} [JBJCA-1208]
    Eclipse plugin updates for IronJacamar 1.2
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1220"} [JBJCA-1220]
    Enhancements of our graceful shutdown functionality
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1214"} [JBJCA-1214]
    XAResource statistics for each pool
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1211"} [JBJCA-1211]
    Support for JDK 8

%p

The release contains some bug fixes as well.

%h2 The Road Ahead

Hopefully testing will go smooth over the next couple of weeks, and hence we will see a Final release some time during October. Please, report anything you may
find, as the next development series will be 2.0, and a completely new journey :)

%p

Enjoy !

%p

On behalf of the IronJacamar community,
%br
%i &nbsp;&nbsp;&nbsp; Jesper

%p

\[
%a{:href=>"http://www.ironjacamar.org/"}
  WebSite
\]

\[
%a{:href=>"http://www.ironjacamar.org/download.html"}
  Download
\]

\[
%a{:href=>"http://www.ironjacamar.org/documentation.html"}
  Documentation
\]

\[
%a{:href=>"http://issues.jboss.org/browse/JBJCA"}
  JIRA
\]
