---
layout: comments
title: Road to 1.2 The IronJacamar tracer
description: 2014-05-14 Road to 1.2 The IronJacamar tracer
---

%h1 Road to 1.2: The IronJacamar tracer

%strong
  %i May 14th, 2014

%p

Our next article in our "Road to 1.2" series have been posted.

%p

This article discuss our new tracer which will help identify problems in the Java EE Connector Architecture
interaction quicker.

%p

You can find the article
%a{:href=>"/doc/roadto12/tracer.html"}
  here
\.

%p

Feel free to suggest which articles could be interesting for this section with a comment here.

%p

As always, enjoy !
