---
layout: comments
title: IronJacamar 1.2.0.Beta2 released
description: 2014-05-13 IronJacamar 1.2.0.Beta2 released
---

%h1 IronJacamar 1.2.0.Beta2 released

%strong
  %i May 13th, 2014

%p

I'm proud to announce the IronJacamar 1.2.0.Beta2 release. Full release notes are
%a{:href=>"https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&version=12324669"}
  here
\.

%h2 Changes

The second Beta release features some new features, like

%p

%ul
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1167"} [JBJCA-1167]
    Statistics: Usage time
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1168"} [JBJCA-1168]
    Statistics: Pool time
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1173"} [JBJCA-1173]
    Tracer tool - more on this later

%p

and critical bug fixes as well.

%h2 The Road Ahead

We will have at least one more Beta in the 1.2 series, as we are looking to improve our metadata layer. And, likely new cool features too.

%p

For people that would like to stay on a stable release we have released IronJacamar 1.1.6.Final too.

%p

Feedback on the release is as always most welcome ! Enjoy !

%p

On behalf of the IronJacamar community,
%br
%i &nbsp;&nbsp;&nbsp; Jesper

%p

\[
%a{:href=>"http://www.ironjacamar.org/"}
  WebSite
\]

\[
%a{:href=>"http://www.ironjacamar.org/download.html"}
  Download
\]

\[
%a{:href=>"http://www.ironjacamar.org/documentation.html"}
  Documentation
\]

\[
%a{:href=>"http://issues.jboss.org/browse/JBJCA"}
  JIRA
\]
