---
layout: comments
title: Road to 1.2 Transactional ConnectionEventListener tracking
description: 2014-04-14 Road to 1.2 Transactional ConnectionEventListener tracking
---

%h1 Road to 1.2: Transactional ConnectionEventListener tracking

%strong
  %i April 14th, 2014

%p

We have started a new series called "Road to 1.2", which will highlight new features in IronJacamar 1.2, or
discuss topics around Java EE Connector Architecture solved by IronJacamar.

%p

The first article is about our new transactional
%i
  ConnectionEventListener
tracking feature.

%p

You can find the article
%a{:href=>"/doc/roadto12/txtracking.html"}
  here
\.

%p

All articles will be located in our new
%a{:href=>"/doc/articles.html"}
  Articles
section.

%p

Feel free to suggest which articles could be interesting for this section with a comment here.

%p

As always, enjoy !
