---
layout: comments
title: IronJacamar 1.1.5.Final released
description: 2014-04-08 IronJacamar 1.1.5.Final released
---

%h1 IronJacamar 1.1.5.Final released

%strong
  %i April 8th, 2014

%p

I'm proud to announce the IronJacamar 1.1.5.Final release. Full release notes are
%a{:href=>"https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&version=12324482"}
  here
\.

%p

This release is mainly a bug fix release, but initial Kerberos support was added too.

%p

Feedback on the release is as always most welcome ! Enjoy !

%p

On behalf of the IronJacamar community,
%br
%i &nbsp;&nbsp;&nbsp; Jesper

%p

\[
%a{:href=>"http://www.ironjacamar.org/"}
  WebSite
\]

\[
%a{:href=>"http://www.ironjacamar.org/download.html"}
  Download
\]

\[
%a{:href=>"http://www.ironjacamar.org/documentation.html"}
  Documentation
\]

\[
%a{:href=>"http://issues.jboss.org/browse/JBJCA"}
  JIRA
\]
