---
layout: comments
title: IronJacamar 1.2.2.Final released
description: 2015-01-13 IronJacamar 1.2.2.Final released
---

%h1 IronJacamar 1.2.2.Final released

%strong
  %i January 13th, 2015

%p

I'm proud to announce the IronJacamar 1.2.2.Final release. Full release notes are
%a{:href=>"https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&version=12326342"}
  here
\.

%h2 Changes

This release is a small bug fix release, but with a change to the tracer too,

%p

%ul
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1241"} [JBJCA-1241]
    Tracer improvements

%p

The
%a{:href=>"/doc/roadto12/tracer.html"}
  tracer
now records more information, and we have worked our way through more scenarios where using the tracer
could be of benefit, so feel free to use your own scenarios with it and report back.

%h2 The Road Ahead

Our IronJacamar 2 development is progressing nicely, so hopefully we can start on Alpha releases soon.

%p

Enjoy !

%p

On behalf of the IronJacamar community,
%br
%i &nbsp;&nbsp;&nbsp; Jesper

%p

\[
%a{:href=>"http://www.ironjacamar.org/"}
  WebSite
\]

\[
%a{:href=>"http://www.ironjacamar.org/download.html"}
  Download
\]

\[
%a{:href=>"http://www.ironjacamar.org/documentation.html"}
  Documentation
\]

\[
%a{:href=>"http://issues.jboss.org/browse/JBJCA"}
  JIRA
\]
