---
layout: comments
title: IronJacamar 1.2.6.Final released
description: 2015-09-01 IronJacamar 1.2.6.Final released
---

%h1 IronJacamar 1.2.6.Final released

%strong
  %i September 1st, 2015

%p

I'm proud to announce the IronJacamar 1.2.6.Final release. Full release notes are
%a{:href=>"https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&version=12327680"}
  here
\.

%h2 Changes

This release contains some minor changes such as

%p

%ul
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1287"} [JBJCA-1287]
    Relax close() requirements for statments and result sets
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1286"} [JBJCA-1286]
    Allow non-JTA datasources to run without a BootstrapContext

%p

%h2 The Road Ahead

IronJacamar 2 development is processing, so hopefully we can push the first Alpha release soon.

%p

Enjoy !

%p

On behalf of the IronJacamar community,
%br
%i &nbsp;&nbsp;&nbsp; Jesper

%p

\[
%a{:href=>"http://www.ironjacamar.org/"}
  WebSite
\]

\[
%a{:href=>"http://www.ironjacamar.org/download.html"}
  Download
\]

\[
%a{:href=>"http://www.ironjacamar.org/documentation.html"}
  Documentation
\]

\[
%a{:href=>"http://issues.jboss.org/browse/JBJCA"}
  JIRA
\]
