---
layout: comments
title: IronJacamar 1.2.3.Final released
description: 2015-03-25 IronJacamar 1.2.3.Final released
---

%h1 IronJacamar 1.2.3.Final released

%strong
  %i March 25th, 2015

%p

I'm proud to announce the IronJacamar 1.2.3.Final release. Full release notes are
%a{:href=>"https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310691&version=12326552"}
  here
\.

%h2 Changes

This release is mainly a bug fix release, but contains some major changes to the tracer as well,

%p

%ul
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1252"} [JBJCA-1252]
    MCPs can become detached
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1250"} [JBJCA-1250]
    TotalPoolTime / TotalUsageTime not always updated
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1251"} [JBJCA-1251]
    Only allow certain decrementer policies for CRI pools
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1254"} [JBJCA-1254]
    Tracer improvements

%p

Due to JBJCA-1252, all users should upgrade their installations.

%h2 The Road Ahead

This release took some time away from IronJacamar 2 development, but the repository keeps seeing updates, so
it is progressing.

%p

Enjoy !

%p

On behalf of the IronJacamar community,
%br
%i &nbsp;&nbsp;&nbsp; Jesper

%p

\[
%a{:href=>"http://www.ironjacamar.org/"}
  WebSite
\]

\[
%a{:href=>"http://www.ironjacamar.org/download.html"}
  Download
\]

\[
%a{:href=>"http://www.ironjacamar.org/documentation.html"}
  Documentation
\]

\[
%a{:href=>"http://issues.jboss.org/browse/JBJCA"}
  JIRA
\]
