---
layout: comments
title: New project lead for IronJacamar
description: 2016-11-01 New project lead for IronJacamar
---

%h1 New project lead for IronJacamar

%strong
  %i November 1st, 2016

%p

Dear IronJacamar Community,

%p

I have decided to accept a new position, and will therefore no longer have time to
lead the IronJacamar project.

%p

I have enjoyed leading this community over the past 8 years, and I believe that
IronJacamar is the best Java EE Connector Architecture implementation available
due to its focus on ease-of-use, testing capabilities and being Open Source software.

%p

Stefano Maestri will take over as project lead, and I hope that the community will
welcome him in this new role.

%p

I'm sure that IronJacamar will continue to grow, keep putting out great releases
and implement the latest Java EE Connector Architecture specification standards.

%p

For Those About to Rock, I Salute You !
%br
%i &nbsp;&nbsp;&nbsp; Jesper
