---
layout: comments
title: IronJacamar 1.2.7.Final released
description: 2016-03-03 IronJacamar 1.2.7.Final released
---

%h1 IronJacamar 1.2.7.Final released

%strong
  %i March 3rd, 2016

%p

I'm proud to announce the IronJacamar 1.2.7.Final release. Full release notes are
%a{:href=>"https://issues.jboss.org/projects/JBJCA/versions/12328075"}
  here
\.

%h2 Changes

This release is mainly a bug fix release, so people should upgrade their installations. Some issues that stands out

%p

%ul
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1311"} [JBJCA-1311]
    emptyManagedConnectionPool can cause dead lock
  %li
    %a{:href=>"https://issues.jboss.org/browse/JBJCA-1307"} [JBJCA-1307]
    MC.associateConnection() not correctly implemented (code generator)

%h2 The Road Ahead

We are making good progress on the IronJacamar 2.0.0.Beta1, and hope that we can release it in near future. Stay tuned !

%p

Enjoy !

%p

On behalf of the IronJacamar community,
%br
%i &nbsp;&nbsp;&nbsp; Jesper

%p

\[
%a{:href=>"http://www.ironjacamar.org/"}
  WebSite
\]

\[
%a{:href=>"http://www.ironjacamar.org/download.html"}
  Download
\]

\[
%a{:href=>"http://www.ironjacamar.org/documentation.html"}
  Documentation
\]

\[
%a{:href=>"http://issues.jboss.org/browse/JBJCA"}
  JIRA
\]
