---
title: IronJacamar - News
layout: default
---

%h1
  News archive
  %a{:href=>"/news/news.atom"}
    %img{ :src=>"/images/rss_16.png", :alt=>"RSS feed"}

.news-table
  %table
    - for post in site.posts do
      %tr
        %td
          #{post.date.strftime( '%B %-d, %Y' )}
        %td
          %a{:href=>post.url}= post.title
