---
layout: default
title:  IronJacamar 2 / Embedded
description: IronJacamar 2 embedded module
---

%h1 IronJacamcar 2 / Embedded


IronJacamar/Embedded should have 
%a{:href=>"http://junit.org/"} JUnit
and
%a{:href=>"http://testng.org/"} TestNG
extensions which allow executing test cases without
using the IronJacamar Arquillian extension.

%p

IronJacamar/Embedded will be based on
%a{:href=>"http://jesperpedersen.github.io/fungal/"} Fungal
