---
layout: default
title:  IronJacamar 2 / Tools
description: IronJacamar 2 tools module
---

%h1 IronJacamcar 2 / Tools

%h2 Resource adapter information tool

%ul
  %li Refactor to new package name
  %li Use new metadata
  %li Output HTML formatted file

%h2 Code generator

%ul
  %li Refactor to new package name
  %li Use new metadata
  %li Use Bean Validation to check parameter input
  %li Use 'jline' to add color

%h2 Eclipse plugin

%ul
  %li Refactor to new package name
  %li Use new metadata
  %li Support Eclipse update installer

%h2 Migrator tools

%ul
  %li Refactor to new package name
  %li Use new metadata
  %li Support additional WebLogic versions and other application servers like glassfish
