---
layout: default
title:  IronJacamar 2 / Standalone
description: IronJacamar 2 standalone module
---

%h1 IronJacamcar 2 / Standalone

The goal of IronJacamar Standalone is to be a certified implementation of the 
standalone profile of Java EE Connector Architecture.

%p

Technologies

%p

%ul
  %li
    Use JMX as the management platform.
  %li
    Use
    %a{:href=>"http://undertow.io/"} Undertow
    as the web server.

%p

IronJacamar/Standalone will be based on
%a{:href=>"http://jesperpedersen.github.io/fungal/"} Fungal

