---
layout: default
title:  IronJacamar 2 / Tools
description: IronJacamar 2 tools module
---

%h1 IronJacamcar 2 / Tools

%h2 Resource adapter information tool

%ul
  %li Refactor to new package name
  %li Use new metadata


%h2 Code generator

%ul
  %li Refactor to new package name
  %li Use new metadata


%h2 Eclipse plugin

%ul
  %li Refactor to new package name
  %li Use new metadata


%h2 Migrator tools

%ul
  %li Refactor to new package name
  %li Use new metadata



