---
layout: comments
title: IronJacamar - Meet Jeff
description: Jeff Zhang
---

%h1 Meet Jeff

.interview-table
  %table
    %tr
      %td
        %table
          %tr
            %td
              %b
                Name:
            %td
              %a{:href=>"mailto:jeff.zhang@ironjacamar.org"}
                Jeff Zhang
          %tr
            %td
              %b
                Age:
            %td
              36
          %tr
            %td
              %b
                Location:
            %td
              Beijing, China
          %tr
            %td
              %b
                Role:
            %td
              Core developer, mainly focused on tooling
      %td{:align=>"right"}
        %a{:href=>"/images/jeff1.png"}
          %img{:src=>"/images/jeff1.png", :alt=>"Jeff", :height=>"200px"}


%h2 Please tell us a little about yourself

I am an open source lover and work in middleware division  of Red Hat.
I got a BS in management information system and a MS in software engineering. 

%h2 What do you do for IronJacamar ?

I work on tooling like code generation, resource adapter information, migration, eclipse plugin and validation. Phew, a lot of good stuff in there !

%h2 How did you get started contributing to IronJacamar ?

I started to contribute to the JCA sub project of JBoss Application Server 5.0. Later, we move the JCA part out of JBoss Application Server and created a new project called IronJacamar.

%h2 How much time do you spend working on IronJacamar ?

Almost full time. I spend some time to help the production team to fix bugs, and help other people like marketing with technical questions.

%h2 What keeps you motivated ?

Simple, I like open source and middleware. 

%h2 What are some of your future goals for your involvement with IronJacamar ?

To be part of developing the best Java EE Connector Architecture implementation. Also, to look at integration of technologies like NoSQL
and non Java based projects. 

%h2 Taiji vs. Kungfu ?

Taiji. I like relaxing things.

%h2 Books vs. Movies ?

First, I'll watch a movie, then I'll dive deep into a good book.

%h2 Linux vs. Mac ?

I like Mac, but Linux is better.

%h2 What are some of your hobbies and interests outside of IronJacamar ?

I like reading and travel.

%h2 What would you suggest to help people getting started with IronJacamar ?

Java EE Connector Architecture is an integration technology, and people should know some JCA in order to better create their enterprise platform.

%p

We are working on making JCA easier to understand, especially using our tools.

%p

So just download IronJacamar, check out the tools and read the documentation.

%h2 Any closing comments ?

Go to Beijing and China, it is worth the travel and I'm sure that you will enjoy the Chinese culture.
