---
layout: comments
title: IronJacamar - Meet Jesper
description: Jesper Pedersen
---

%h1 Meet Jesper

.interview-table
  %table
    %tr
      %td
        %table
          %tr
            %td
              %b
                Name:
            %td
              %a{:href=>"mailto:jesper (dot) pedersen (at) ironjacamar (dot) org"}
                Jesper Pedersen
          %tr
            %td
              %b
                Age:
            %td
              39
          %tr
            %td
              %b
                Location:
            %td
              Boston, USA
          %tr
            %td
              %b
                Role:
            %td
              Project lead
      %td{:align=>"right"}
        %a{:href=>"/images/jesper1.png"}
          %img{:src=>"/images/jesper1.png", :alt=>"Jesper", :height=>"200px"}
    %tr
      %td{:colspan=>"2", :align=>"right", :valign=>"top", :width=>"100%"}
        %a{:href=>"/images/jesper2.jpg"}
          %img{:src=>"/images/jesper2.jpg", :alt=>"Jesper", :height=>"50px"}
        %a{:href=>"/images/jesper3.jpg"}
          %img{:src=>"/images/jesper3.jpg", :alt=>"Jesper", :height=>"50px"}


%h2 Please tell us a little about yourself

I'm an open source old timer, started out in 1993 with Linux, and it basically grew from there. Later, I jumped on the Java wagon in the early days, and have spent most of my time on that programming language since. Contributing to the JBoss projects gave interesting challenges, but provided a platform for creating complex enterprise applications. I have focused a lot on integrating enterprise systems with the Java Enterprise Edition platform, so Java EE Connector Architecture was natural.

%p

I joined Red Hat in 2008 to head up the Java EE Connector Architecture project in our application server.

%h2 What do you do for IronJacamar ?

I act as the project lead for the IronJacamar project, so basically the main cat herder. 

%h2 How did you get started contributing to IronJacamar ?

First commit ?

%p

I spent the first years at Red Hat working on the JCA codebase inside the application server, but the JCA 1.6 specification provided a way to split the implementation from the main server. This gives a flexible development model, and allows us to keep the implementation in the application server stable. Nobody wants their datasources and messaging systems to start failing around them, right ?

%h2 How much time do you spend working on IronJacamar ?

Too much. No, seriously it is a lot of fun, and there always seem to be areas that needs exploring.

%h2 What keeps you motivated ?

Creating the best open source JCA implementation, and expanding the community around the specification.

%h2 What are some of your future goals for your involvement with IronJacamar ?

In the short term we will focus on helping the 
%a{:href=>"http://www.wildfly.org"}
  WildFly
community getting their releases out with the best possible IronJacamar integration.

%p

Longer term, I hope that we can get the IronJacamar 2 development going soon. The plan is to attack some of the areas that would be difficult to fix / implement in the IronJacamar 1.x series. So, expect a lot core changes coming :)

%h2 Star Wars vs. Star Trek ?

Space, the final frontier.

%h2 Canon vs. Nikon ?

Canon.

%h2 AC/DC vs. Whatever ?

AC/DC.

%h2 Beach vs. Hiking ?

Hiking.

%h2 City vs. Landscape ?

Both are good.

%h2 Home cooking vs. Restaurant ?

Home cooking. Finding a hidden gem of a restaurant is nice though.

%h2 Beer vs. Wine ?

Cheers !

%h2 Linux vs...

Linux

%h2 What are some of your hobbies and interests outside of IronJacamar ?

Photography, for sure. You will find me with a camera running around and shooting pictures of all sorts of stuff. I don't have a specific area / style, it tends to change with the seasons and my mood. And, I shoot RAW, so everything can be changed.

%p

I enjoy cooking, and pairing that with an interesting beer or bottle of wine. Latest passion is sous vide cooking, which I should have started years ago. Live and learn.

%p

Watching a good movie is an enjoyment too. Unfortunately there seems to be further and further between good stuff coming out from Hollywood, so watching a lot of the classics.

%h2 What would you suggest to help people getting started with IronJacamar ?

Our documentation is pretty good, and provides some examples to get started with Java EE Connector Architecture. Then I would say take a look at our test suite to explore in more depth.

%p

We hang out on IRC, so feel free to drop by and say hello.

%h2 Any closing comments ?

Java EE Connector Architecture is the coolest Java Enterprise Edition technology, and IronJacamar is the best implementation. What more do you want ?

%p

Join us, and help shape the future of enterprise computing !
