---
layout: comments
title: IronJacamar - Meet John
description: Johnathon Lee
---

%h1 Meet John

.interview-table
  %table
    %tr
      %td
        %table
          %tr
            %td
              %b
                Name:
            %td
              %a{:href=>"mailto:johnathonlee (at) ironjacamar (dot) org"}
                Johnathon Lee
          %tr
            %td
              %b
                Age:
            %td
              43 (Immortal until proven otherwise)
          %tr
            %td
              %b
                Location:
            %td
              Maryville, IL
          %tr
            %td
              %b
                Role:
            %td
              Support Engineer
      %td{:align=>"right"}
        %a{:href=>"/images/john1.jpg"}
          %img{:src=>"/images/john1.jpg", :alt=>"John", :height=>"200px"}
    %tr
      %td{:colspan=>"2", :align=>"right", :valign=>"top", :width=>"100%"}
        %a{:href=>"/images/john2.jpg"}
          %img{:src=>"/images/john2.jpg", :alt=>"John", :height=>"50px"}


%h2 Please tell us a little about yourself

3 kids,  wife (1) and a dog. Packed with activities.

%h2 What do you do for IronJacamar ?

I'm a support engineer that focuses on possible JCA issues.  I try and help point out when someone is doing something wrong with it and isolate actual issues.  So,  I do a lot of usage help,  some backporting from upstream and try and contribute upstream as scheduling allows.

%h2 How did you get started contributing to IronJacamar ?

Shifting of various roles within Red Hat allowed me to start working with the IronJacamar project... plus a kick off meeting in Beijing was a huge draw!

%h2 How much time do you spend working on IronJacamar ?

Greatly depends upon what issues currently need support.  Workload tends to cycle a bit.

%h2 What keeps you motivated ?

The cycle from being completely confused to understanding something.  Given my short term memory,  some times I get to experince this multiple times with the same subject.

%h2 What are some of your future goals for your involvement with IronJacamar ?

I would like to solidify my understanding and expertise so that basic educational issues can be addressed early in the support process.  Allowing more time to be spent on code analysis and upstream contributions.

%h2 Richard Thompson vs. Doc Watson ?

No losers here.

%h2 Chicago Marathon vs. Me ?

To be decided Oct 13, 2013.  (This is round 2,  first round was 2009).

%h2 Wakeboard vs. Skis ?

Wakeboard !

%h2 Snowboard vs. Skis ?

Skis,  I would like to vote Snowboard... but two broken wrists force me to say Skis

%h2 Steak vs. Chocolate ?

Provide me with either and I will give you an impartial judgement.

%h2 What are some of your hobbies and interests outside of IronJacamar ?

Kids and Family activities keep me extremely busy.  I coach kid's soccer. Play guitar and sing in our Church praise band... and hit the secular scene for some gigs.  Run a lot.  Boating,  reading sci fi and fantasy.  Airsoft (a lot like paintball for people that don't like as many little bruises).  Eh,  I do a lot... I try to stay away from screens when I'm not working (but I love my work... so sometimes I still get sucked into sitting in front of screens quite a bit).

%h2 What would you suggest to help people getting started with IronJacamar ?

Read the docs!  Get a conceptual understanding of what a JCA implementation does and all the things it needs to accout for.  Even if it already exists... write a resource adapter for something you know.

%h2 Any closing comments ?

It is a great priviledge to work with such a group of intelligent and dedicated people. Thanks for the opportunity to chat about my favorite subject! 
