---
layout: comments
title: IronJacamar - Meet Lin
description: Lin Gao
---

%h1 Meet Lin

.interview-table
  %table
    %tr
      %td
        %table
          %tr
            %td
              %b
                Name:
            %td
              %a{:href=>"mailto:lin (dot) gao (at) ironjacamar (dot) org"}
                Lin Gao
          %tr
            %td
              %b
                Age:
            %td
              33
          %tr
            %td
              %b
                Location:
            %td
              Beijing, China
          %tr
            %td
              %b
                Role:
            %td
              Core developer, mainly focused on productization and tools
      %td{:align=>"right"}
        %a{:href=>"/images/lin1.jpg"}
          %img{:src=>"/images/lin1.jpg", :alt=>"Lin", :height=>"200px"}
    %tr
      %td{:colspan=>"2", :align=>"right", :valign=>"top", :width=>"100%"}
        %a{:href=>"/images/lin2.jpg"}
          %img{:src=>"/images/lin2.jpg", :alt=>"Lin", :height=>"50px"}


%h2 Please tell us a little about yourself

I live in Beijing with my wife and son. I like to dig to the root cause of things, and prefer open source solutions.

%h2 What do you do for IronJacamar ?

I mainly work on the productization build of IronJacamar for JBoss Enterprise Application Platform, and also some tools
development work.

%h2 How did you get started contributing to IronJacamar ?

I started a RHQ plugin for IronJacamar right after I joined Red Hat in November 2010, and then started to contribute
to the IronJacamar Eclipse plugin after that.

%h2 How much time do you spend working on IronJacamar ?

It depends on the release schedule and productization process, but I want to get more involved in future.

%h2 What keeps you motivated ?

Software is full of magic, and I want to be one of the best players.

%h2 What are some of your future goals for your involvement with IronJacamar ?

I want to get a deeper understanding of JCA, and get more involved in the development of IronJacamar.

%h2 Tea vs. Coffee ?

Coffee (with suger and milk).

%h2 Village vs. City ?

City, city is convenient.

%h2 Mahjong vs. Poker ?

Mahjong.

%h2 Books vs. Movies ?

Movies, I like sci-fi movies.

%h2 Cook vs. Fast Food ?

Cook, I can make the taste I like.

%h2 What are some of your hobbies and interests outside of IronJacamar ?

I like hiking, seek delicious food and watching movies.

%h2 What would you suggest to help people getting started with IronJacamar ?

Read the IronJacamar guides and try to write a simple resource adapter using the IronJacamar tools, it is very simple with
the awesome tools IronJacamar provides.

%h2 Any closing comments ?

I am so happy to have the opportunity to work with the intelligent people in the IronJacamar team. I am proud of being part of it.
