---
layout: comments
title: IronJacamar - Meet Stefano
description: Stefano Maestri
---

%h1 Meet Stefano

.interview-table
  %table
    %tr
      %td
        %table
          %tr
            %td
              %b
                Name:
            %td
              %a{:href=>"mailto:stefano.maestri@ironjacamar.org"}
                Stefano Maestri
          %tr
            %td
              %b
                Age:
            %td
              38
          %tr
            %td
              %b
                Location:
            %td
              Cremona, Italy
          %tr
            %td
              %b
                Role:
            %td
              Core developer, mainly focused on WildFly integration
      %td{:align=>"right"}
        %a{:href=>"/images/stefano1.jpg"}
          %img{:src=>"/images/stefano1.jpg", :alt=>"Stefano", :height=>"200px"}
    %tr
      %td{:colspan=>"2", :align=>"right", :valign=>"top", :width=>"100%"}
        %a{:href=>"/images/stefano2.jpg"}
          %img{:src=>"/images/stefano2.jpg", :alt=>"Stefano", :height=>"50px"}
        %a{:href=>"/images/stefano3.jpg"}
          %img{:src=>"/images/stefano3.jpg", :alt=>"Stefano", :height=>"50px"}


%h2 Please tell us a little about yourself

I'm a very passionate Java developer, using the language since the very beginning. I've also started to use Java Enterprise Edition since the first version of specification, and designed a lot of complex enterprise systems with critical requirements in terms of database size, response time, and high availability. I've been using JBoss Application Server, since the early 2.0 versions, for those systems.

%p

In 2010 I've started my new adventure at Red Hat implementing the Java EE Connector Architecture standard in our application server.

%h2 What do you do for IronJacamar ?

I'm a core developer, doing everything that is needed to keep it the best open source implementation of the JCA standard. I've been mainly focused on WildFly integration over the last months.

%h2 How did you get started contributing to IronJacamar ?

I've started in 2010, contributing a patch as a spare time contributor.
I was a very active external contributor of various JBoss.org projects at that time. 
The IronJacamar patch added validation of metadata during resouce adapter deployment. Later I joined Red Hat as part of the IronJacamar core developer team.

%h2 How much time do you spend working on IronJacamar ?

My entire working day... and some of my spare time too ;)

%h2 What keeps you motivated ?

The challenge to contribute to the best open source JCA implementation. 

%h2 What are some of your future goals for your involvement with IronJacamar ?

Right now, we are working on IronJacamar 1.1 integration into WildFly 8. IronJacamar 1.1 has a lot of cool and challenging features like distributed work manager (to make long story short it's the ability to have JCA Work instances distributed across a cluster).

%p

Then I'll focus on the next major version of IronJacamar with the rest of the IronJacamar community... Stay tuned and get involved.

%h2 Star Wars vs. Star Trek ?

May the Force be with you

%h2 Batman vs. Spider-man?

That is a hard question... but in the end, I'll take Spider-man

%h2 Gym vs. Television ?

Gym

%h2 Lord of the Rings vs. Any other fantasy tales ?

Are there any other tales ?

%h2 Mac vs Windows ?

Next question, please...

%h2 Linux vs...

Linux

%h2 Soccer vs. Rugby ?

Come on, I'm Italian...

%h2 Barolo vs Cabernet ?

As said... I'm Italian...

%h2 Chianti vs Merlot ?

Again...

%h2 Fiorentina steak vs Foie gras ?

Hey... you are tempting me... but I'll take Fiorentina

%h2 Italian sparking wine vs. Champagne ?

Ok, you won... Champagne

%h2 What are some of your hobbies and interests outside of IronJacamar ?

I have a lot of interests and hobbies. First of all: cooking and wine. Yeah, I'm a good chef, and a certified wine taster... any one for dinner ? Especially, young, blonde and cute women are welcome :)

%p

Then fitness, and doing sports in general; reading good fantasy books; creative writing; physic (and in particular relativity); meditation; photography; everything about technology.

%p

IOW, I'm a geek :)

%h2 What would you suggest to help people getting started with IronJacamar ?

Read our documentation, that is much better than a lot of other open source project, both for end users and contributors. 

%h2 Any closing comments ?

We are going to design the next major version of IronJacamar. It's time to get involved and contribute with your ideas, feedback, and of course your code ;)
