---
layout: comments
title: IronJacamar - Meet Tyronne
description: Tyronne Wickramarathne
---

%h1 Meet Tyronne

.interview-table
  %table
    %tr
      %td
        %table
          %tr
            %td
              %b
                Name:
            %td
              %a{:href=>"mailto:tyronne@ironjacamar.org"}
                Tyronne Wickramarathne
          %tr
            %td
              %b
                Age:
            %td
              39
          %tr
            %td
              %b
                Location:
            %td
              Brisbane, Australia
          %tr
            %td
              %b
                Role:
            %td
              Support Engineer
      %td{:align=>"right"}
        %a{:href=>"/images/tyronne.jpg"}
          %img{:src=>"/images/tyronne.jpg", :alt=>"Tyronne", :height=>"200px"}


%h2 Please tell us a little about yourself

Open source addict, amateur photographer and 4x4 enthusiast.

%h2 What do you do for IronJacamar ?

I work as an IronJacamar support engineer, that includes troubleshooting, bug fixing and backporting patches from upstream.

%h2 How did you get started contributing to IronJacamar ?

It dates back to the old JCA project, JBoss AS 5 / JBoss AS 4.3 days. The initial IronJacamar team meeting in Beijing helped me to place myself in the right direction.  

%h2 How much time do you spend working on IronJacamar ?

This varies based on the time I have to work on our sister project HornetQ. That said, I'm hoping to contribute a bit more on IronJacamar in the days to come.

%h2 What keeps you motivated ?

Music, off-roading on different 4x4 drive terrains, a good beer over the weekend.

%h2 What are some of your future goals for your involvement with IronJacamar ?

I would like to expand my knowledge on IronJacamar's codebase to have a better understanding on its internals. That would help me to contribute to the upstream project more effectively.

%h2 Traction control vs diff locks ?

Love to have them both.

%h2 Front wheel drive vs. rear wheel drive ?

Rear wheel drive.

%h2 Music vs. movies ?

Music.

%h2 CDs vs. LPs?

LPs.

%h2 Jazz vs. post rock ?

Next question please.

%h2 What are some of your hobbies and interests outside of IronJacamar ?

Musical concerts, traveling, off-roading, camping and photography.

%h2 What would you suggest to help people getting started with IronJacamar ?

Read the docs and reach us for any help.

%h2 Any closing comments ?

It's been a great privilege to work with bunch of real talented team. Looking forward for the new challenges in the next JCA specification.
