---
layout: comments
title: IronJacamar - Meet Vladimir
description: Vladimir Rastseluev
---

%h1 Meet Vladimir

.interview-table
  %table
    %tr
      %td
        %table
          %tr
            %td
              %b
                Name:
            %td
              %a{:href=>"mailto:vrastseluev (at) ironjacamar (dot) org"}
                Vladimir Rastseluev
          %tr
            %td
              %b
                Age:
            %td
              41
          %tr
            %td
              %b
                Location:
            %td
              Prague, Czech Republic
          %tr
            %td
              %b
                Role:
            %td
              Core developer, mainly focused on testing
      %td{:align=>"right"}
        %a{:href=>"/images/vladimir1.jpg"}
          %img{:src=>"/images/vladimir1.jpg", :alt=>"Vladimir", :height=>"200px"}
    %tr
      %td{:colspan=>"2", :align=>"right", :valign=>"top", :width=>"100%"}
        %a{:href=>"/images/vladimir2.jpg"}
          %img{:src=>"/images/vladimir2.jpg", :alt=>"Vladimir", :height=>"50px"}
        %a{:href=>"/images/vladimir3.jpg"}
          %img{:src=>"/images/vladimir3.jpg", :alt=>"Vladimir", :height=>"50px"}


%h2 Please tell us a little about yourself

I'm Russian, living with my family (wife and son) in Prague.

%h2 What do you do for IronJacamar ?

I provide mostly testing support for IronJacamar. I write unit tests to check the functionality
of IronJacamar. I also write and execute integration tests for the JCA component in WildFly.
My primary task is to find bugs and make fixes as soon as possible, so I participate in IronJacamar
as a developer too.

%h2 How did you get started contributing to IronJacamar ?

In the year 2011 I joined Red Hat's JBoss Quality Assurance Team. There I met the guys from the IronJacamar team,
which helped me with JCA component testing. And of course the kick off meeting in Beijing had a great impact too.

%h2 How much time do you spend working on IronJacamar ?

Almost every day. As a JCA specialist in the QA team I need to dive into the IronJacamar code often.

%h2 What keeps you motivated ?

An opportunity to learn new things and participate in the world leading JCA implementation project.

%h2 What are some of your future goals for your involvement with IronJacamar ?

Testing of the new functional features (like DistributedWorkManager) and taking part in the development
of the new major version of IronJacamar.

%h2 CSKA (Moscow) vs. * ?

CSKA forever !

%h2 "Queen" vs. "The Beatles" ?

Both are brilliant

%h2 Vodka vs. Whiskey ?

Vodka

%h2 Lazy holiday on the beach vs. Sightseeing ?

I'm lazy :)

%h2 USSR vs. Russia ?

Both. But people in USSR were better.

%h2 What are some of your hobbies and interests outside of IronJacamar ?

Sports (now mostly as a fan), good movies books and music, spending time with my family, cooking,
parties with friends, travelling abroad and hiking.

%h2 What would you suggest to help people getting started with IronJacamar ?

Don't be afraid, just start with it. We'll help.

%h2 Any closing comments ?

It's a great honor for me to work with all these guys from IronJacamar. I admire 
the work we do together.
